{% extends "layout.html" %}

{% block title %} Homepage {% endblock %} 

{% block body %}
    <table class = 'table table-borderless'>
        <tr>
            <td>
                <form action = '/books' type = 'GET'>
                    <input type = 'submit' name = 'books' value = 'books'>
                </form>
            </td>

            <td>
                <form action = '/characters' type = 'GET'>
                    <input type = 'submit' name = 'characters' value = 'characters'>
                </form>
            </td>

            <td>
                <form action = '/houses' type = 'GET'>
                    <input type = 'submit' name = 'houses' value = 'houses'>
                </form>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form action = '/search' type = 'GET'>
                    <input type = 'submit' name = 'search' value = 'search'>
                </form>
            </td>
        </tr>
    </table>
{% endblock %}